!!! 5
html(lang="en")
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='author', content='Alexa Grey')
    meta(name='description', content='An in-browser previewer for Github-flavored markdown syntax')
    title Github-Flavored Markdown Preview
    != css('application')
  body
    .container#docView
      header
        h1 Github-Flavored Markdown Preview
      section#preview
        input#documentTitle(type="text", name="doctitle", placeholder='Title')
        input#documentSelector(name="documents", type="hidden", style="width: 48%;")
        textarea#text-input(rows="16")
        .buttons
          button#getPreview(type="button") Send
          button#save(type="button") Save
          button#destroy(type="button") Destroy
        .dates
          time.created
          time.updated
      section#parsed
        h2 Preview will appear here.
        ul
          li All the normal markdown syntax is supported.
          li Along with the very nice additions by Github
        pre
          code.language-javascript
            | (function() {
            |   console.log('Syntax highlighting also available');
            | }).call(this);
    footer
      aside
        | Stiched together by
        a(href="http://alexa.is", title="alexa.is") Alexa Grey
        |. Released under MIT license.
    script(src="/nowjs/now.js")
    != js('application')

